@media (min-width: 375px) {

   
}

@media (min-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
        /* justify-content: ; */
        margin-bottom: 3rem;
        align-items: center;
      }

      .navbar {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
        order: -1;
      }

      a.nav-link {
          margin-left: 2rem;
      }

      .logo {
          justify-self: center;
      }

      .social-icons {
          justify-content: flex-end;
          margin-right: 0;
      }
}