@media (min-width: 375px) {

    .work__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        justify-items: center;
        margin: 0 auto;
      }
   
}

@media (min-width: 768px) {

    .header {
        display: flex;
        flex-direction: row;
     }

    /*center nav*/
    .logo-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        order: 1;
        flex: 1;
    }

    /*left nav*/
    nav {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        order: 0;
        flex: 1;
    }

    .navbar {
        flex: 1;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0rem;  
    }

    a.nav-link {
        padding: 0px;
        margin-left: 0rem;
        margin-right: 2rem;
    }

    /*right nav*/
    .social-icons {
        justify-content: flex-end;
        align-items: flex-start;
        order: 2;
        flex: 1;
    } 

    .social-icon {
        padding-left: 1rem;
    }

    /*skills*/
    #ifab {
        font-size: 6rem;
      }

    .spacer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
    }  

    .spacer-box__desc {
        font-size: 1.6rem;
    }
}
@media (min-width: 1024px) {

    /*WORK SECTION*/

    .work__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        justify-items: center;
        margin: 0 auto;
        max-width: 95%;
        width: 1200px;
      }

    
}