:root {
  --GreenGradient: linear-gradient(to right, #72BA64, #3EAB36);
  --greenPrimary: #3EAB36;
  --greenSecondary: #72BA64;
  --primaryDark: #03363d;
  --gray: #757575;
  /* --lightgray: #F0F0F0; */
  --lightgray: #FAFAFA;
  --red1: #DB444C;
  --red2: #F36C66;
  --html: #FC490B;
  --css: #2196F3;
  --js: #F0DB4F;
  --boot: #6F42C1;
  --wordpress: #0073AA;
  --woocommerce: #9B5C8F;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body {
  font-size: 2rem;
  color: var(--primaryDark);
  line-height: 1.7em;
}

.wrapper {
  max-width: 1176px;
  margin: 0 auto;
  text-align: center;
  padding: 0 3.3rem 0 3.3rem;
}

/*NAVBAR*/

.header-section {
  padding-top: 2.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#nav {
  display: flex;
  flex-direction: column; 
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

a.nav-link {
  text-decoration: none;
  color: var(--primaryDark);
  padding: 0.5rem 0rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

a.nav-link:hover {
  border-bottom: 3px solid var(--greenPrimary);
  color: var(--Green);
  
}

.logo {
text-decoration: none;
color: var(--primaryDark);
font-weight: 600;
transition: all 0.3s;
}

.logo:hover {
  color: var(--greenPrimary);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  text-decoration: none;
  color: var(--primaryDark);
  transition: all 0.3s;
}

.social-icon:not(:first-child) {
  padding-left: 1rem;
}

.social-icon:hover {
  color: var(--greenPrimary);
}

ion-icon {
  font-size: 3.2rem;
}
/*END NAVBAR*/


/*--INTRO */

#intro-section {
 background-color: #fafafa;
 padding: 10rem 0;
}

.intro__logo {
  margin: 0 auto;
}

.logo-img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 3rem;
}

.hero {
  text-align: left;
  max-width: 70rem;
  margin: 0 auto;
}

.hero__hello {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}

.hero__header {
  margin-bottom: 1rem; 
  font-weight: 600;
  line-height: 1.5em;
}

.hero__pgrapgh {
  font-size: 3rem;
  line-height: 1.5em;
  font-weight: 600;
}

.hero__scroll {
  color: #C7C7C7;
  font-weight: 600;
}

/* Skills icons */
.spacer-wrapper {
  background-color: var(--lightgray);
  padding: 5rem 3.3rem 10rem 3.3rem;
  text-align: center;
}

.spacer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
}

.spacer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab {
  font-size: 5rem;
}

.fa-html5 {
  color: var(--html);
}

.fa-css3-alt {
  color: var(--css);
}

.fa-js-square {
  color: var(--js);
}

.fa-bootstrap {
  color: var(--boot);
}

.fa-wordpress-simple {
  color: var(--wordpress);
}

h2.skills__header,
h2.work__header {
  font-size: 4rem;
  margin-bottom: 4rem;
}
/* END Skills icons */

/*WORK SECTION*/

#work-section {
  padding: 10rem 0rem;
}

.work__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  /* grid-template-rows: repeat(2, 1fr); */
  /* grid-gap: 1.5rem; */
  justify-items: center;
  margin: 0 auto;
}

.work-item {
  /* max-width: 38.6rem; */
  /* border: 1px solid var(--primaryDark); */
}

.work-image-box {
  background-color: var(--red2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  
}

.work-img {
  width: 60%;
  transition: transform 1000ms ease;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.work-img:hover {
  transform: scale(1.1);
}

.info {
  padding: 1.5rem 3rem 1.5rem 0rem;
}

.languages {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.languages>li:not(:first-child) {
  margin-left: 2rem;
}

.wordpress {
  color: var(--wordpress);
} 

.woocommerce {
  color: var(--woocommerce);
} 

.work__header {
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.work__desc {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.work-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--greenPrimary);
  border: 1px solid var(--greenPrimary);
}

.btn:hover {
  color: var(--greenSecondary);
}
