:root {
  --GreenGradient: linear-gradient(to right, #72BA64, #3EAB36);
  --greenPrimary: #3EAB36;
  --greenSecondary: #72BA64;
  --primaryDark: #03363d;
  --gray: #757575;
  /* --lightgray: #F0F0F0; */
  --gray: #CCCCCC;
  --lightgray: #FAFAFA;
  --darkgray: #888888;
  --othergray: #F2F2F2;
  --red1: #DB444C;
  --red2: #F36C66;
  --html: #FC490B;
  --css: #2196F3;
  --js: #F0DB4F;
  --boot: #6F42C1;
  --wordpress: #0073AA;
  --woocommerce: #9B5C8F;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', 'Rubik', 'Roboto', sans-serif;
}

body {
  font-size: 2rem;
  color: var(--primaryDark);
  line-height: 1.7em;
}

.wrapper {
  max-width: 1176px;
  margin: 0 auto;
  text-align: center;
  padding: 0 3.3rem 0 3.3rem;
}

/*NAVBAR*/

.header-section {
  padding-top: 2.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#nav {
  display: flex;
  flex-direction: column; 
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

a.nav-link {
  text-decoration: none;
  color: var(--primaryDark);
  padding: 0.5rem 0rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

a.nav-link:hover {
  border-bottom: 3px solid var(--greenPrimary);
  color: var(--Green);
  
}

.logo {
text-decoration: none;
color: var(--primaryDark);
font-weight: 600;
transition: all 0.3s;
}

.logo:hover {
  color: var(--greenPrimary);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  text-decoration: none;
  color: var(--primaryDark);
  transition: all 0.3s;
}

.social-icon:not(:first-child) {
  padding-left: 1rem;
}

.social-icon:hover {
  color: var(--greenPrimary);
}

ion-icon {
  font-size: 3.2rem;
}
/*END NAVBAR*/


/*--INTRO */

#intro-section {
 background-color: #fafafa;
 padding: 10rem 0;
}

.intro__logo {
  margin: 0 auto;
  margin-bottom: 10rem;
}

.logo-img {
  width: 100%;
  max-width: 250px;
}

.hero {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
}

.hero__hello {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}

.hero__header {
  margin-bottom: 1rem; 
  font-size: 8.4rem;
  font-weight: 900;
  line-height: 1em;
}

.hero__pgrapgh {
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 400;
}

.hero__scroll {
  color: #C7C7C7;
  font-weight: 600;
}

/* Skills icons */
.spacer-wrapper {
  padding: 5rem 3.3rem 0rem 3.3rem;
  text-align: center;
}

.spacer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
}

#ifab {
  font-size: 4rem;
  color: var(--gray);
}

.spacer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
}

.spacer-box__desc {
  font-size: 1rem;
  font-weight: 500;
}

h2.skills__header,
h2.work__header2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.work__header2 {
  text-align: left;
}

.skills {
  background-color: var(--lightgray);
}
/* END Skills icons */


/*WORK SECTION*/
#work-section {
  padding: 10rem 0rem;
  background-color: var(--lightgray);
}

.work {

}

.work-image-box {
  background-color: var(--lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  border-radius: 12px;
}

.work-img {
  width: 60%;
  transition: transform 1000ms ease;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.work-img:hover {
  transform: scale(1.1);
}

.info {
  text-align: left;
  /* background-color: var(--lightgray); */
  padding: 1.5rem 3rem 1.5rem 0rem;
  font-family: 'Roboto', sans-serif;
  
}
#test {
  background-color: #FFA2A0;
}
#test2 {
  background-color: #DEEDF4;
}

.languages {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: flex-start;
  margin-bottom: 0.6rem;
}


.languages>li:not(:first-child) {
  margin-left: 2rem;
}

.wordpress {
  color: var(--gray);
} 

.woocommerce {
  color: var(--gray);
} 

.work__header {
  font-family: 'Roboto', sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: 0.01em;
}

.work__desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--primaryDark);
  font-size: 1.8rem;
  line-height: 1.5em;
  margin-bottom: 1.5rem;

}

.work-buttons {
  display: flex;
  justify-content: flex-start;
}

.btn {
  padding: 5px 15px;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
}

.btn-web {
  color: #fff;
  border: 1px solid #35BDAF;
  background-color: #35BDAF;
}

.btn-web:hover {
  border: 1px solid var(--greenSecondary);
  background-color: var(--greenSecondary);
}

.btn-pro {
  margin-left: 3rem;
  color: var(--primaryDark);
  border: 2px solid var(--primaryDark);
  transition: all 0.4s;
}

.btn-pro:hover {
  color: #fff;
  background-color: var(--primaryDark);
}
